<template>
  <div>
    <h2 style="font-family: 'Comfortaa', cursive;" class="p-5">{{title}}</h2>
    <div class="container" style="font-family: 'Comfortaa', cursive;">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-md-6">
          <img :src="require('@/assets/books.png')" class="img-fluid">
        
        </div>
        <div class="col-sm-12 col-lg-6 col-md-6 mx-auto">
          <form @submit.prevent="addBook" class="card p-5">
            <input type="text" class="form-control mb-4" placeholder="Name" v-model="name" required />
            <input
              type="text"
              class="form-control mb-4"
              placeholder="Author"
              v-model="author"
              required
            />

            <input
              type="text"
              class="form-control mb-4"
              placeholder="Description"
              v-model="description"
              required
            />

            <button class="btn btn-info btn-block " type="submit">Add Book</button>
          </form>
        </div>
      </div>
      <h2 class="pt-5" style="font-family: 'Comfortaa', cursive;" >MY LIBRARY</h2>
      <hr />
      <div class="row pb-3">
        <div class="col-md-6 mb-4 align-items-stretch" v-for="book in books" :key="book.id">
          <div class="card card-cascade wider reverse">
            <div class="card-body card-body-cascade text-center">
              <h4 class="card-title">
                <strong>{{book.name}}</strong>
              </h4>
              <h6 class="font-weight-bold indigo-text py-2">{{book.author}}</h6>

              <p class="card-text">{{book.description}}</p>
              <span class="delete text-danger" @click="deleteBook(book.id)">ⓧ</span>
            </div>
          </div>
           
        </div>
           
      </div>

 
    </div>
  </div>
</template>

<script>
export default {
  name: "Book",
  props :[ 'title' ],
  data() {
    return {
      name: "Dorcas",
      author: "nfejk",
      description: "gfyufu",
      id: 0,
    };
  },

  methods: {
    addBook: function () {
      this.$store.dispatch("addBookAction", this);
      console.log(this.name);
      this.id++;
      this.name = "";
      this.author = "";
      this.description = "";
    },
    deleteBook: function (id) {
      this.$store.dispatch("deleteBookAction", id);
    },
  },
  computed: {
    books() {
      return this.$store.getters.getBooks;
    },
  },
};
</script>

<style scoped>
h2{
  color:#00BFA6
}
.b{
  color:#00BFA6
}
</style>