<template>
  <Book title="MY FAVORITE BOOKS"/>
</template>

<script>
import Book from './components/Books.vue'

export default {
  name: 'App',
  components: {
    Book

  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
